<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">
  <div class="content">
    <h1>Juego de Adivinacion de Numeros Aleatorios -  DWEC05</h1>
    <hr />
    <h2>Parametros de Configuracion del Juego</h2>

    <form  #formulario="ngForm">
      <div>
        <label for="nombre">Nombre:</label><br>
        <input type="text" name="nombre" id="nombre"  [(ngModel)]="configuracion.nombre" required >
        <span 
          *ngIf="!configuracion.nombre" 
          style="color: grey;"> 
            El nombre es obligatorio
        </span>
      </div>
      <br>
      <div>
        <label for="apellido">Apellido:</label><br>
        <input type="text" name="apellido" id="apellido"  [(ngModel)]="configuracion.apellido" required> 
        <span 
          *ngIf="!configuracion.apellido" 
          style="color: grey;"> 
            El apellido es obligatorio
        </span>
      </div>
      <br>
      <div>
        <label for="rango">Rango de numeros a generar:</label><br>
        <input type="number" name="rango" id="rango" [(ngModel)]="configuracion.rango" pattern="[0-9]" />
        <span 
          *ngIf="!configuracion.rango" 
          style="color: grey;"> 
            El rango es obligatorio
        </span>
      </div>
      <br>
      <div>
        <label for="intentos">Numero de intentos</label><br>
        <input type="number" name="intentos" id="intentos" [(ngModel)]="configuracion.intentos">
        <span 
          *ngIf="!configuracion.intentos" 
          style="color: grey;"> 
            El nº de intentos es obligatorio
        </span>
      </div>
      <br>
      <button type="submit" (click)="recogerDatos()">Recoger Datos</button>
    </form>

  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-guess [configuracion]="configuracion" [bienvenida]="bienvenida" [Aleatorio]="Aleatorio"></app-guess>
<router-outlet />

